<%- include('../partials/_header', { pageTitle: 'Sign Up' }) %>
<main>
  <h1>Create Account</h1>
  <form action="/users" method="post" class="new-item-form">
    <label>First Name:</label><input name="firstName" required />
    <label>Last Name:</label><input name="lastName" required />
    <label>Email:</label><input type="email" name="email" required />
    <label>Password:</label><input type="password" name="password" required />
    <button type="submit">Sign Up</button>
  </form>
</main>
<%- include('../partials/_footer') %>